[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
